body {
	background-color: #500000;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#500000', endColorstr='#600000'); 
	background-image:url('http://toastrackbus.org/bg.png');
	background:url('http://toastrackbus.org/bg.png'), -webkit-radial-gradient(circle, #8b3334, #500000);
	background:url('http://toastrackbus.org/bg.png'), radial-gradient(circle, #8b3334, #500000);
}
.container {
	padding-top:15px;
}
#bus {
	padding-bottom:15px;
}

.thumbnails > li {
	float:left;
}
.hero-unit {
	height:500px;

	color:black;
	background-position:50% 40%;
	background-repeat:repeat no-repeat;
	text-shadow: 0 2px 0 black, 0 0 10px black;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	color:white;
	
}
.hero-unit.home {
    background:url('home.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.hero-unit.events {
    background:url('events.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.hero-unit.history {
    background:url('inservice.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.hero-unit.getinvolved {
    background:url('getinvolved.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.hero-unit h2 {
    max-width:800px;
}
.well, .hero-unit, .navbar {
	box-shadow: 1px 1px 2px #222;
}